        body {
            max-width: 600px;
            font-family: sans-serif;
        }
        
        h1,
        h2 {
            text-align: center;
        }
        
        .settingsBar {
            position: relative;
            float: left;
            min-height: 360px;
            min-width: 180px;
            margin-right: 20px;
            border-right: 5px solid red;
            padding: 10px;
            font-weight: bold;
        }
        
        .setting {
            border: 1px solid mediumblue;
            border-radius: 5px;
            margin-bottom: 15px;
            padding: 15px;
        }
        
        label:hover {
            background-color: cornflowerblue;
        }
        
        label:active {
            background-color: red;
        }
        
        input:checked {
            background-color: red;
            color: blue;
        }
        
        ul {
            list-style-type: none;
            margin-left: -40px;
        }
        /*input[type="radio"] {
            visibility: hidden;
        }*/
        
        #grid {
            position: relative;
            margin: 10px;
        }
        
        .row {
            display: flex;
        }
        
        .square {
            min-height: 120px;
            min-width: 120px;
            border: 3px solid black;
            color: black;
            text-align: center;
            font-size: 80px;
            line-height: 120px;
        }
        
        .square:hover {
            background-color: darkkhaki;
            cursor: pointer;
        }
        
        #cover {
            position: absolute;
            display: flex;
            top: 0px;
            left: 0px;
            min-height: 390px;
            min-width: 390px;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 1;
        }
        
        #outputLine {
            width: 100%;
            text-align: center;
            font-size: 40px;
        }
        
        button {
            margin: auto;
            padding: 30px;
            text-align: center;
            font-weight: bold;
        }
        
        #quitBox {
            display: none;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            width: 85%;
            min-height: 95%;
            margin: auto;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.7);
        }
